@import 'reset';

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
}

.app-container {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

.shop {
    width: 100%;
    height: 100%;
    display: block;
}

/*****************************
Cart
*****************************/
.cart {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
        '. . icon'
        'title title title'
        'products products products'
        'total total total'
        '. . .';
    grid-template-rows: 70px 50px auto 50px 100px;
    grid-template-columns: auto auto auto;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
    border: 1px solid;
    background-color: #000;
    color: #fff;

    &__title {
        grid-area: title;
        display: grid;
        align-items: center;
        font-size: 18px;
        text-align: center;
    }
    &__total {
        grid-area: total;
        display: grid;
        align-items: center;
        grid-template-areas:
            'text number';
        grid-template-columns: auto 100px;
        font-size: 20px;
        font-weight: 600;
        p {
            grid-area: text;
        }
    }
    &__icon {
        grid-area: icon;
        display: grid;
        align-items: center;
        justify-content: end;

        button {
            display: block;
            min-width: 60px;
            width: auto;
        }

        .counter {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            margin-right: 10px;
            border-radius: 50%;
            right: 10px;
            background-color: red;
        }
    }
    &__products {
        grid-area: products;
    }
}

/*****************************
Products
*****************************/
.products {

}

.product {
    display: grid;
    grid-template-areas:
            'name price remove';
    grid-template-columns: auto 100px 100px;
    grid-template-rows: 75px;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    &__name {
        grid-area: name;
    }
    &__price {
        grid-area: price;
    }
    &__remove {
        grid-area: remove;
    }
}

/*****************************
Shoes
*****************************/
.shoes {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    position: absolute;
    top: 90px;
    left: 0;
    background-color: #fff;
    color: #000;
    transition: transform 0.4s ease;

    &.animate-section {
        transform: translateY(80%);
    }
}

.shoe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
}