<section class="cart">
    <div class="cart__icon">
        <div class="counter" *ngIf="(products$ | async) as products">
            {{products.length}}
        </div>
        <button type="button" (click)="showHideCart()">
            <i class="material-icons">shopping_cart</i>
        </button>
    </div>
    <p class="cart__title">CART</p>
    <ul class="cart__products" *ngIf="(products$ | async) as products">
        <app-product *ngFor="let product of products" [productInfo]="product" (removeFromCart)="removeFromCart($event)"></app-product>
    </ul>
    <div class="cart__total">
        <p>Total</p>
        <app-total-price [totalPrice]="totalPrice$ | async"></app-total-price>
    </div>
</section>